.HomePage {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  header h1 {
    color: #ffffff;
  }

  footer {
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  
  footer p {
    margin: 0;
  }